.chevron {
    &[data-rotate] {
      transform: rotate(45deg);
    }
  }
  
  .icon {
    width: rem(16px);
    height: rem(16px);
    }
    .card:hover{
        transform: scale(1.75);
        border: 5px solid blue;
    }